---
import ConstituicaoPage from '../components/pages/ConstituicaoPage.jsx';
---

<html>
  <head>
    <title>Constituição</title>
  </head>

  <body class="bg-zinc-950 text-white">
    <ConstituicaoPage client:load />
  </body>
</html>
